@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-info" >This project for perform CRUD operations.Click on BookList to do that</p>
</div>
